{% extends 'performance/performance_layout.html' %}

{% block title %}Performances{% endblock %}

{% block content %}
    <div class="card">
        <h1>Performances on going</h1>
            <div class="card-body">
                <h5 class="card-title">Search</h5>
                <p class="card-text">
                    <div class="row">
                            <div class="col-6">
                                <form action="" method="get">
                                    <div class="form-group form-row">
                                        <div class="col-10">
                                            <input type="text" class="form-control" name="query" placeholder="Search by name">
                                            <input type="hidden" name="search_by" value="name">
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-success">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-6">
                                <form action="" method="get">
                                    <div class="form-group form-row">
                                        <div class="col-10">
                                            <input type="text" class="form-control" name="query" placeholder="Search by author">
                                            <input type="hidden" name="search_by" value="author">
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-success">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                </p>
            </div>
        </div> <!--TODO ne rabotayet poisk po imeni ili avtoru(nado dodelat`)-->
    <div class="search-bar w3layouts-newsletter">
        <h3 class="sear-head editContent">Performance search by name</h3>
        <form action="{% url 'search' %}" method="get" class="d-flex editContent">
            <input type="search" placeholder="Введите название..." name="q" class="form-control" required="">
            <button type="submit" class="btn1 btn">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
        </form>
    </div>
    <div class="features">
        <h2>{{ search_message }}</h2>
        {% if performances %}
            {% for el in performances %}
                <div class="alert alert-warning">
                    <h3>{{ el.name }}</h3>
                    <h5>Author: {{ el.author }}</h5>
                    <p>Description:{{ el.description }}</p>
                    <p>Duration: {{ el.duration }}</p>
                    <p>Price: {{ el.price }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>no performances yet</p>
        {% endif %}
    </div>
{% endblock %}