{%extends 'D:\GitHub\oop-project\main\templates\base.html'%}

{% block title %}Requisite{% endblock %}

{% block header %}Requisite{% endblock %}

{% block content %}
<div>
    <main class="text-center" >
    <p class="lead">Menu</p>
        <p></p>
        <div><a href="requisite" class="btn-link">Requisite list</a></div>
        <div><a href="requisite_history" class="btn-link">Requisite history</a></div>
        <div><a href="requisite_poster_role" class="btn-link">Requisite poster role</a></div>
  </main>
</div>
{% endblock %}