{%extends 'D:\GitHub\oop-project\main\templates\base.html'%}

{% block title %}Requisite list{% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'req_home' %}">Requisite</a>{% endblock %}

{% block content %}
<h4 align="center">Requisite list</h4>
<p></p>
<table class="table table-hover">
    <div>
        <tr style="color: #CDBEA7">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
        </tr>
    </div>
    {% for el in requisite %}
    <div>
        <tr style="color: #fff">
        <th scope="col">{{el.id}}</th>
        <th scope="col">{{el.name}}</th>
        <th scope="col">({{el.requisite_type_id.type}})</th>
        </tr>
    </div>
    {% endfor %}
</table>
{% endblock %}