{% extends 'base.html' %}

{% block title %}TicketStore{% endblock %}

{% block content %}
    <h1>TicketStore <a href="{% url 'ticketStore_hot' %}"><button class="btn btn-warning">Hot tickets</button></a></h1>
    <br>
    <style>
        .features {
            color: #dce3fa;
            margin-top: 10px;
            text-align: center;
            width: 50%;
        }
        .ticketStore-warning {
            float: right;
            background: #dce3fa;
            width: 10%;
            height: 100%;
            color: #000000;
        }
        .ticketStore-warning li {
            color: black;
            display: block;
            margin-top: 20px;
            transition: transform .6s ease;
        }
        .ticketStore-warning li:hover, .ticketStore-warning a:hover {
            color: #eb5959;
            text-decoration: none;
            transform: scale(1.05);
        }
        h1 {
            color: #dce3fa;
            text-align: left;
        }
        .button {
            background-color: #008CBA;
            float: left;
            color: black;
            display: block;
            height: 40px;
            width: 40px;
            text-align: centre;
        }
        .button:focus {
            background-color: red;
        }
        .btn-not-availability {
            opacity: 0.6;
            cursor: not-allowed;
        }

        form {
            width: 400px;
            margin-top: 40px;
        }
    </style>
        <div class="alert ticketStore-warning">
            {% with total_tickets=ticketStore|length %}
            {% if ticketStore|length > 0 %}
            In ticketStore:
            <a href=" {% url 'ticketStore:ticketStore_detail' %} ">
                {{ total_tickets }} tickets, {{ ticketStore.get_total_price }} $
            </a>
            {% else %}
            <p>ticketStore empty</p>
            {% endif %}
            {% endwith %}
            <a href="{%  url 'ticketStore_main'  %}"><li><i class="fas fa-store"></i> go to store</li></a>
        </div>
        {% if tickets %}
            {% for el in tickets %}
                {% if el.poster_id_id == 2 and el.availability %}
                    <button class="button">{{ el.place }}</button>
                    <script>
                    </script>
                    {% if el.place == 10 %}
                        <br><br>
                    {% endif %}
                    {% if el.place == 20 %}
                        <br><br>
                    {% endif %}
                    {% if el.place == 30 %}
                        <br><br>
                    {% endif %}
                    {% if el.place == 40 %}
                        <br><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>no tickets</p>
        {% endif %}
        <br> <br>
        <div class="features">
            <h1>Форма придбання квитків</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.name }}<br>
                {{ form.phone }}<br>
                {{ form.mail }}<br>
                {{ form.tickets }}<br>
                <span>{{ error }}</span>
                <button class="btn btn-success" type="submit"> Замовити </button>
            </form>
        </div>
{% endblock %}