{% extends 'base.html' %}

{% block title %}Performances{% endblock %}

{% block content %}
    <style>
        .features {
            color: #dce3fa;
            margin-top: 10px;
            text-align: center;
            width: 75%;
        }
        .alert-warning {
            clear: both;
            width: 800px;
            margin: 10px 50%;
            text-align: left;
        }
        h1 {
            align: centre;
            float: centre;
            color: #dce3fa;
        }
        form {
            width: 400px;
            margin-top: 40px;
            color: #dce3fa;
        }
    </style>
    <h1>TicketStore <a href="{% url 'ticketStore_hot' %}"><button class="btn btn-warning">Hot tickets</button></a></h1>
    <a href="{% url 'performance_filter' pk=1 %}"><button>С-ння за ціною</button></a>
    <a href="{% url 'performance_filter' pk=2 %}"><button>С-ння за тривалістю</button></a>
    <a href="{% url 'performance_filter' pk=3 %}"><button>С-ння за датою</button></a>
    <form method="get">
        {{myFilter.form}}

        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <div class="features">
        {% if poster %}
            {% for el in poster %}
                <div class="alert-warning">
                    <h3>{{ el.performance_id.name }}</h3>
                    <h5>Author: {{ el.performance_id.author }}</h5>
                    <p>{{ el.performance_id.description }}</p>
                    <p>Date: {{ el.date }}</p>
                    <p>Duration: {{ el.performance_id.duration }}</p>
                    <p>Price: {{ el.performance_id.price }}</p>
                    <p><a href="{% url 'ticketStore_performance' el.id %}"><button class="btn btn-warning">Buy tickets</button></a></p>
                </div>

            {% endfor %}
        {% else %}
            <p>no performances yet</p>
        {% endif %}
        </div>
{% endblock %}