{% extends 'base.html' %}

{% block title %}Performances{% endblock %}

{% block content %}
    <style>
        .features {
            color: #dce3fa;
            margin-top: 10px;
            text-align: center;
            width: 75%;
        }
        .alert-warning {
            clear: both;
            width: 600px;
            margin: 10px 50%;
            text-align: left;
        }
        h1 {
            align: centre;
            float: centre;
            color: #dce3fa;
        }
    </style>
    <h1>TicketStore <a href="{% url 'ticketStore_hot' %}"><button class="btn btn-warning">Hot tickets</button></a></h1>
    <a href="{% url 'performance_filter' pk=1 %}"><button>С-ння за ціною</button></a>
    <a href="{% url 'performance_filter' pk=2 %}"><button>С-ння за тривалістю</button></a>
    <div class="features">
        {% if performances %}
            {% for el in performances %}
                <div class="alert-warning">
                    <h3>{{ el.name }}</h3>
                    <h5>Author: {{ el.author }}</h5>
                    <p>Description:{{ el.description }}</p>
                    <p>Duration: {{ el.duration }}</p>
                    <p>Price: {{ el.price }}</p>
                    <p><a href="{% url 'ticketStore_performance' el.id %}"><button class="btn btn-warning">Buy tickets</button></a></p>
                </div>
            {% endfor %}
        {% else %}
            <p>no performances yet</p>
        {% endif %}
    </div>

{% endblock %}